body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

ul > li {
    padding: 5px 0;
}

header {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
}

footer {
    width: 100%;
    /*height: auto;*/
    padding: 20px 0;
    background-color: #1d1d1d;
    color: #FFFFFF;
    position: relative;
    height:400px;
   /* background-color:#000000;*/
}

footer ul {
    list-style-type: none !important;
}

.main-container {
    width: 100%;
    position: relative;
}

.top-nav-strip {
    height: 39px;
    background-color: #00c3df;
    color: #FFFFFF;
}

ul.top-nav-list {
    list-style-type: none;
    float: right;
}

.top-nav-list > li {
    float: left;
}

@media (max-width: 767px) {
    ul.top-nav-list {
        float: left;
    }

    .top-nav-list > li {
        float: left;
    }
}

.top-nav-list > li > a {
    font-size: 14px;
    line-height: 0;
    font-weight: 600;
    padding: 10px 20px;
}

.top-nav-list > li > a:hover {
    cursor: pointer;
}

.header-area {
    background-color: #FFFFFF;
    min-height: 40px;
    padding: 20px 0;
    color: #000000;
}

ul.top-nav-menu-list {
    list-style-type: none;
    text-align: right;
    padding: 0;
}

.top-nav-menu-list > li {
    display: inline;
}

@media (max-width: 767px) {
    ul.top-nav-menu-list {
        float: left;
    }

    .top-nav-menu-list > li {
        float: left;
    }
}

.top-nav-menu-list > li > a {
    font-size: 14px;
    line-height: 0;
    font-weight: 600;
    padding: 10px 20px;
}

.top-nav-menu-list > li > a:hover {
    cursor: pointer;
    color: #00c3df;
}

a.site-logo {
    font-size: 40px;
    color: #00c3df;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

a.site-logo span {
    color: #000000;
    font-style: normal;
}

#googleMap {
    width: 100%;
    height: 500px;
}

.events-grid {
    height: auto;
}

svg {
    height: 15px;
    width: 20px;
}

.nav-search {
    float: right;
}


.footer-nav-strip {
    background-color: #6E6E6E;
}

.footer-nav-strip ul {
    padding: 0;
    margin: 0;
}

.footer-nav-strip ul li {
    float: left;
    margin-right: 30px;
    padding: 10px 0;
}

.footer-nav-social-strip {

}
.prefooter{
    background-color: #00c3df;
    font-weight: bold;
    font-family:'campton';
    display: block;
    position:relative;
    color:#ffffff;
    font-size:25px;
    width:100%;  
    height: 300px;
    margin-top: 1002px;
}
.biton{
    font-size:12px;
    background-color: #00C3df;
    color:#ffffff;
    border:1px solid #ffffff;
    padding:9px 32px;
    font-family:'fantasy';
    margin:50px 79px; 
}
.part-1{
    /*height:250px;*/
    width:inherit;
 }
.floating-box{
    float:left;
    width:155px;
    height:300px;
    padding:50px 26px;
}
.floating-box img{
    height:170px;
}
.first{
    color:#00ffff;
    font-family: Arial, Helvetica, sans-serif;
}
.down{
    height:inherit;
    width:inherit;
}
.second{
    height:inherit;
    width:inherit;
    margin:-29px -2px;
}
.second img{
    height:19px;
    width:11px;
    margin:18px 12px;
}
.part-2{
        height:394px;
        width:inherit;
        margin-top:120px; 
}
.baton{
    font-size:12px;
    background-color: #ffffff;
    color:#00c3df;
    border:1px solid #00c3df;
    padding:9px 32px;
    margin: 36px 2px;
    font-weight: bold;
    cursor: pointer;
}
.vent{
    font-size:18px;
    color:#00c3df;
    margin:3px;
    font-family:'Source Sans Pro';
    font-style:italic;
    font-weight:bold;   
}.dol{
    font-size:17px;
    color:#000000;
    margin:5px 3px;
    font-weight:bold;
    font-family:'Campton'; 
}
.dat{
    font-size:15px;
    color:#808080;
    font-family: 'Source Sans Pro';
    font-weight: bold;
}
.dat svg{
    margin:-3px 4px;
}
.time{
    margin:-19px 110px;
}
.time img{
    height:11px;
    margin:-13px 93px;
}
.down{
    height:inherit;
    width:inherit;
}
.second{
    height:inherit;
    width:inherit;
    margin:-29px -2px;
}
.second img{
    height:19px;
    width:11px;
    margin:5px 12px;
}
.second svg {
    margin: 7px 4px;
}
.button{
    background-color: #00c3df;
    border: none;
    color: white;
    padding: 9px 32px;
    font-size: 12px;
    margin: 36px 2px;
    cursor: pointer;
    font-family: 'Campton';
    font-weight: bold;
}
.dol{
    font-size: 17px;
    color: #000000;
    margin: 5px 3px;
    font-weight: bold;
    font-family: 'Campton';
}
.dat{
    /*font-size:12px;*/
    color:#808080;
    font-family:'Source Sans Pro';
    font-weight:bold; 
}
.events-grid-header{
    font-size:35px;  
}
.main{
    width:89%;
    min-height:500px;
    background-color:#ffffff;
    padding-top:95px; 
}
.dat svg{
    margin:-3px 4px;
}
.time{
    margin:-19px 110px;
}
.time img{
    height:11px;
    margin:-13px 93px;
}
.word{
    margin: -15px 134px;
}
.middle{
    float:right;
   /* height: inherit;*/
    width: 55%; 
    margin-top: 30px;
}
.headder{
    height:40px;
    background-color:#00c3df;
    width:100%;
}
.left{
    height:inherit;
     float:left;
    width:50%; 
}
.one{
    padding-left:247px;
}
.one svg{
    margin:7px -125px;
    float:left;
    height: 21px;
    width:28px;  
}
.number{
    margin:9px 150px;
    color: #ffffff;
}
.two{
    margin:-25px 201px;
    float:left;
}
.three{
    font-size:16px;
    color:#ffffff;
    margin:-29px 250px;  
 }
 .sentence{
    font-size:20px;
    font-family:'fantasy';
    margin-top:36px;  
}
.lefty{
    height:200px;
    width:700px;
}
.caption{
    padding:25px 80px;
    font-family:'campton';
    float:left;
    display:inline;
    position:absolute;
    color:#ffffff;
    font-size:55px;
    font-weight:bold; 
}
.right{
    float:right; 
}
.right svg{
    height:10px;
    padding:16px 4px;
}




