body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

header {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
}

.top-nav-strip {
    height: 39px;
    background-color: #00c3df;
    color: #FFFFFF;
}

ul.top-nav-list {
    list-style-type: none;
    float: right;
}

.top-nav-list > li {
    float: left;
}

@media (max-width: 767px) {
    ul.top-nav-list {
        float: left;
    }

    .top-nav-list > li {
        float: left;
    }
}

.top-nav-list > li > a {
    font-size: 14px;
    line-height: 0;
    font-weight: 600;
    padding: 10px 20px;
}

.top-nav-list > li > a:hover {
    cursor: pointer;
    background-color: grey;
}


.container {
    margin: 0 auto;
    max-width: 1400px;
    position: relative;
}
@media (min-width: 1799px) { 
    .container {
        width: 100%;
    }
 }
@media (min-width: 1400px) { 
    .container {
        width: 90%;
    }
}
@media (min-width: 1084px) { 
    .container {
        width: 90%;
    }
}
@media (min-width: 768px) { 
    .container {
        width: 100%;
    }
}
@media (min-width: 540px) { 
    .container {
        width: 95%;
    }
}
@media (min-width: 320px) { 
    .container {
        width: 95%;
    }
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 24.99%; }
.col-4 { width: 33.32%; }
.col-5 { width: 41.65%; }
.col-6 { width: 49.98%; }
.col-7 { width: 58.31%; }
.col-8 { width: 66.64%; }
.col-9 { width: 74.97%; }
.col-10 { width: 83.3%; }
.col-11 { width: 91.63%; }
.col-12 { width: 100%; }


/*General Font Sizes*/
.font-size-xs { font-size: 8px; }
.font-size-s { font-size: 10px; }
.font-size-m { font-size: 12px; }
.font-size-l { font-size: 14px; }
.font-size-xl { font-size: 16px; }

/*Heading Font Sizes*/
.heading-size-xs { font-size: 18px; }
.heading-size-s { font-size: 24px; }
.heading-size-m { font-size: 30px; }
.heading-size-l { font-size: 36px; }
.heading-size-xl { font-size: 42px; }
.heading-size-xxl { font-size: 48px; }





