body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
}

.main-container {
    width: 100%;
    position: relative;
}

.top-nav-strip {
    height: 39px;
    background-color: #00c3df;
    color: #FFFFFF;
}

ul.top-nav-list {
    list-style-type: none;
    float: right;
}

.top-nav-list > li {
    float: left;
}

@media (max-width: 767px) {
    ul.top-nav-list {
        float: left;
    }

    .top-nav-list > li {
        float: left;
    }
}

.top-nav-list > li > a {
    font-size: 14px;
    line-height: 0;
    font-weight: 600;
    padding: 10px 20px;
}

.top-nav-list > li > a:hover {
    cursor: pointer;
}

.header-area {
    background-color: #FFFFFF;
    min-height: 40px;
    padding: 20px 0;
    color: #000000;
}

ul.top-nav-menu-list {
    list-style-type: none;
    text-align: right;
    padding: 0;
}

.top-nav-menu-list > li {
    display: inline;
}

@media (max-width: 767px) {
    ul.top-nav-menu-list {
        float: left;
    }

    .top-nav-menu-list > li {
        float: left;
    }
}

.top-nav-menu-list > li > a {
    font-size: 14px;
    line-height: 0;
    font-weight: 600;
    padding: 10px 20px;
}

.top-nav-menu-list > li > a:hover {
    cursor: pointer;
    background-color: grey;
}

a.site-logo {
    font-size: 40px;
    color: #00c3df;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

a.site-logo span {
    color: #000000;
    font-style: normal;
}






